<h1 style="margin: 30px"> List of Created  Devices</h1>

<div class="row" >
  <div class="card mycard" *ngFor= "let device of devices" (click) = BleTracking(device.tracking_hardware)>

    <div class="container">
      <h4><b>{{device.device_name}}</b></h4> 
      <p>{{device.from_org}}</p>
      <p>{{device.device_cost}}</p> 
      <p>{{device.location}}</p>
      <p>{{device.tracking_hardware}}</p>
    </div>
  </div>
  </div>
  