
       <div class = "row">
         <div class="col-sm-3">
       <div class = "card" style="margin:20px; width: 100%">
            <h2 style=" text-align:center;margin: 30px; font-family:Arial, Helvetica, sans-serif"> Device Tracking </h2>
          <div style="text-align:center;padding-bottom: 30px; padding-left: 30px;padding-right: 30px; padding-top: 10px">
              <button class = "btn btn primary" style = "background: lightseagreen; margin: 30px" (click)="createDevice()">Create Device</button>
              <br>
              <button class = "btn btn primary" style = "background: lightseagreen; margin: 30px" (click) = "EditDevice()">Track Devices</button>
              <br>
              <button class = "btn btn primary" style = "background: lightseagreen; margin: 30px" (click) = "TrackDevice()">Device Details</button>
              <br>
              
            </div> 
        </div>
      </div>
  
      <div class="col-sm-9">
          <div class = "card" style="padding:10px;margin-left:5px; margin-right:30px;margin-top:20px;margin-bottom: 20px; width: 100%">
             <router-outlet></router-outlet>
           </div>
         </div>

      </div>
       
   
 