<div style="margin: 40px" *ngIf = "formshow">
<form #deviceForm = "ngForm" (ngSubmit) = "createRFID(deviceForm)">
  <div class = "form-group">
    <label for="orgname">Organisation Name</label>
    <input id="orgname" name = "on" [(ngModel)] = "orgname" type="text" class="form-control">
  </div>

  <div class = "form-group">
      <label for="devicename">Device Name</label>
      <input id="devicename" name="dn" [(ngModel)] = "devicename" type="text" class="form-control">
  </div>

  <div class = "form-group">
      <label for="devicecost">Device Cost</label>
      <input id="devicecost" name="dc" [(ngModel)] = "devicecost" type="text" class="form-control">
  </div>


  <div class = "form-group">
      <label for="address">Location Address</label>
      <input id="address" name="location" [(ngModel)]="address" type="text" class="form-control">
  </div>

  <div class = "form-group">
    <label for="track">Tracking Hardware Address</label>
    <input id="track" name="trackingha" [(ngModel)]="track" type="text" class="form-control">
</div>

<div class = "form-group">
    <label for="spec">Device Specifications</label>
    <input id="spec" name="specifications" [(ngModel)]="spec" type="text" class="form-control">
</div>

<div class = "form-group">
    <label for="usage">Device Usage</label>
    <input id="usage" name="deviceUsage" [(ngModel)]="usage" type="text" class="form-control">
</div>



  <div style="text-align:center;margin:50px">
  <button type="submit" class = "btn btn-primary">Create a RFID TAG</button>
</div>
</form>
 
{{deviceForm.value | json}}

</div>

<div *ngIf = "loadershow">
    <div style = "text-align:center">
        <img src = "assets/loading.gif">
    </div>
</div>

<div *ngIf= "messageshow">
        <div style="text-align:center">

            <h3 style="padding:30px; margin:30px">{{Message}}</h3>
        </div>
    </div>

