<div  style="text-align:center"  *ngIf = "scan">
  <img src="assets/loading.gif">
<h2>Scanning Devices from Raspberry Pi please wait...</h2>
</div>

<div *ngIf="!scan">
<h1>Received Signal Strength Index {{rssi_value}}</h1>
<h2>{{device_msg}}</h2>

<div class = "rotate90">
  <p>------------------------------------------------------</p>
</div>
</div>


