<div  style="text-align:center"  *ngIf = "!isRead">
    <img src="assets/loading.gif">
<h2>{{dmsg}}</h2>
</div>

<div *ngIf = "isRead">
    <div style="background:lightsalmon; padding: 20px;margin:20px">
        
        <h4><b>Device Name: </b>{{readData.device_name}}</h4>
        <h4><b>Device Location: </b>{{readData.location}}</h4>
        <h4><b>Organisation Name: </b>{{readData.from_org}}</h4>
        <h4><b>Device Cost: </b>{{readData.device_cost}}</h4>
        <h4><b>Tracking Hardware Address : </b>{{readData.tracking_hardware}}</h4>
        <h4><b>Device Specifications : </b>{{readData.device_spec}}</h4>
        <h4><b>Device Usage : </b>{{readData.device_usage}}</h4>
    </div>
</div>